

/* utility class */
.py-10 {padding: 10px 0}
.py-20 {padding: 20px 0}
.py-30 {padding: 30px 0}




/* about info */
#about-info .info-left {
  float: left;
  width: 50%;
}

#about-info .info-right img {
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

#about-info .info-right {
  float: right;
  width: 50%;
  /* min-height: 100%; */
}

#about-info .info-left h1 {
  line-height: 1.4;
  padding: 0;
  padding-bottom: 20px;
}
 





/* testimonial section */
#testimonial {
  background: url("/img/test-bg.jpg") no-repeat center center / cover;
}

#testimonial h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

#testimonial .guest {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
}

#testimonial .guest img {
  width: 70px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}


